html, body{
    width: 100%;
    overflow-x:hidden;
}

/* Table Styling */
#productsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1em;
}

#productsTable th, #productsTable td {
    padding: 12px;
    text-align: center;
    border: 1px solid #dee2e6;
}

#productsTable th {
    background-color: #454545;
    font-weight: bold;
    color: white;
}



