html, body{
    width: 100%;
    overflow-x:hidden;
}


.big-img{
    height: auto;
    background-position: center;
    background-size: cover;
    padding-top: 60%;
    position: relative;

}

.big-img img{
    display: block;
    width: 100%;
    object-fit: cover !important;
    position: absolute;
    top: 0;
    height: 100%;
    border-radius: 5px;
}



.calendar-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 340px; /* Zabezpečí maximálnu šírku pre malé obrazovky */
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#month-year {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Zabezpečí správne rozloženie názvov dní */
    gap: 5px;
    margin-bottom: 10px;
}

.day {
    width: 100%; /* Dynamická šírka pre každý deň */
    text-align: center;
    padding: 10px;
    font-weight: bold;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.modal-body{
    display: flex;
    justify-content: center;
}

#toast-container {
    top: 10% !important;
    position: absolute;

    left: 57% !important;
    transform: translate(-50%, -50%) !important; /* Na centrovanie */
    margin: 0 auto;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 stĺpcov pre každý deň v týždni */
    grid-gap: 5px;
}

.date {
    width: 100%; /* Dynamická šírka, aby sa prispôsobila kontajneru */
    padding: 10px 0; /* Zabezpečí rovnakú výšku */
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s, color 0.2s;
}

.fa-shopping-cart {
    font-size: 24px; /* Nastavte požadovanú veľkosť */
}

#cart-count {
    top: 40px;
    color: #ffffff;
    border: 2px solid #ffffff;
    right: 15px;
    height: 20px;
    display: none;
    padding: 0 5px;
    position: absolute;
    font-size: 10px;
    min-width: 20px;
    background: #e9242e;
    font-weight: 500;
    line-height: 16px;
    border-radius: 10px;
    animation-name: zoomIn;
    justify-content: center;
    animation-duration: 200ms;
}

.date:hover {
    background-color: #f0f8ff;
}

.selectedCard {
    background-color: #007bff;
    color: white;
}

.selected {
    background-color: #007bff;
    color: white;
}

.reserved {
    background-color: #f46c6b; /* Svetločervená farba pre rezervované dni */
    cursor: not-allowed;
    color: white;
}

.start-date {
    background-color: #004080; /* Ešte tmavšia modrá pre počiatočný dátum */
    color: white;
}

.end-date {
    background-color: #004080; /* Ešte tmavšia modrá pre konečný dátum */
    color: white;
}

#prev, #next {
    cursor: pointer;
}

@media (max-width: 400px) {
    .calendar-container {
        width: 100%;
        padding: 10px;
    }

    .date, .day {
        padding: 8px;
        font-size: 0.9em;
    }
}

.btn-with-icon {
    background-color: #2b3a64; /* Žltá farba */
    color: white; /* Biela farba textu */
    border: none; /* Žiadny okraj */
    border-radius: 5px; /* Zaoblené rohy */
    padding: 10px 20px; /* Vnútorné odsadenie */
    font-size: 16px; /* Veľkosť písma */
    cursor: pointer; /* Ukazovateľ myši */
    display: flex; /* Flexbox pre zarovnanie ikony a textu */
    align-items: center; /* Vertikálne zarovnanie */
    transition: background-color 0.3s; /* Efekt prechodu */
}

.btn-with-icon:hover {
    background-color: #1e2a4d; /* Tmavšia žltá pri hover */
}

.btn-with-icon i {
    margin-right: 8px; /* Medzera medzi ikonou a textom */
}








