<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resetovanie hesla</title>
</head>
<body>
<h1>Resetovanie hesla</h1>
<form action="reset-password" th:action="@{/reset-password}" method="post" th:object="${token}">
    <input type="hidden" name="token" th:value="${token}" />
    <label>Nové heslo:</label>
    <input type="password" name="newPassword" required="required" />
    <button type="submit">Resetovať heslo</button>
</form>
<p th:if="${error}" th:text="${error}"></p>
</body>
</html>
